/*初始化*/
html{
	height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
ol,
input,
i,
p,
div,
span,
a,
img,
table{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #999;
}
s{
	text-decoration:none;
}
i,
em{
	font-style: normal;
}
img{
	vertical-align: middle;
	border: 0 none;/*兼容低版本*/
	/* display: block; */
}
body{
	font:12px/100% "微软雅黑";
	height: 100%;
}
input{
	outline: none;
	border: 0 none;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
a:link,
a:visited,
a:hover,
a:active{
	text-decoration: none;
}

